.table-view {
    -fx-background-color: #f5f2eb;
    -fx-control-inner-background: #ffffff;
    -fx-control-inner-background-alt: #f5f2eb;
    -fx-border-color: #c2baab;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 0;
}

.table-view .column-header {
    -fx-background-color: #cdb08e;
    -fx-border-color: #c2baab;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 12 15;
}

.table-view .column-header .label {
    -fx-text-fill: #100e0a;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.table-view .table-row-cell {
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: transparent transparent #f5f2eb transparent;
    -fx-border-width: 0 0 1 0;
}

.table-view .table-row-cell:odd {
    -fx-background-color: -fx-control-inner-background-alt;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #cdb08e;
}

.table-view .table-row-cell:selected .table-cell {
    -fx-text-fill: #100e0a;
}

.table-view .table-cell {
    -fx-text-fill: #535659;
    -fx-font-size: 13px;
    -fx-padding: 10 15;
    -fx-border-color: transparent;
}

.table-view .placeholder .label {
    -fx-text-fill: #bfb6a6;
}